
  /* usuario */
 
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
  
  body, html {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative; 
  }

  .profilecard {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    padding: 2rem;
  }
  
  .infoimages {
    width: 100%;
    position: relative;
    margin-bottom: 1rem; 
  }
  
  .infoimages>img:nth-of-type(1) {
    width: 100%;
    height: auto;
    max-width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .infoimages>img:nth-of-type(2) {
    width: 250px; 
    border-radius: 50%;
    position: absolute;
    bottom: -75px; 
    left: 2rem; 
  }
  
  .profileinfo {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #aaa;
    gap: 0.5rem;
    margin-top: 75px; 
    padding-left: 2rem; 
  }
  .profileinfo>:nth-of-type(1) {
    color: black;
    font-size: 40px;
  }
  
  
  .profileinfo>span {
    text-align: left; 
  }
  
  hr {
    border: 1px;
    width: 100%;
    margin-top: 1rem;
  }
  
  .bio {
    padding: 1rem 2rem;
    font-size: 24px;
    display: block;
    white-space: pre-wrap;
    text-align: justify;
    word-break: break-all;
  }
  
  .bio > p:first-of-type {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0.5rem;
  }

  /* nav bar */

  .navbar {
    background-color: #841C94;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute; 
    top: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .navbar .menu-icon {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
  }
  .navbar .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }
  .navbar .search-bar input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  .navbar .search-bar input:focus {
    outline: none;
  }
 
  /* playlist */

.playlists {
  background-color: #800080;
  padding: 20px;
  margin-top:30px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.playlist-item {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #aaa;
}
.playlist-item.add-new {
  background-color: transparent;
  border-style: dashed;
}




/* menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-top: 50px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* sugestoes */
#l {
  padding: 10px 360px 10px 10px;
  background-color: #1e1c1c;
  text-align: center;
  overflow-y: scroll;
}

.r {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #141313;
  border-left: 1px solid #353535;
  padding: 10px;
}
.r > ul:first-of-type {
  color: white;
}

/* Criar postagem */

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #7D40E7;
  box-shadow: 0px 4px #888888;
  border-radius: 25px;
}

.button-text {
  color: black;
  font-weight: bold;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7D40E7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.plus-sign {
  color: white;
  font-size: x-large;
}

footer {
  background-color: #800080; 
  color: white;
  padding: 30px 30px;
  text-align: center;
  position: absolute; 
  bottom: 0;
  left: 0;
  flex: 0 0 50px;
  margin-top: auto;
  width: 100%;
  box-sizing: border-box; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


  @media (max-width: 768px) {
    .sugestoes-container {
      width: 200px; 
      
    }

     .container-playlists {
      margin-right: 220px; 
     
    }
    }

    @media (max-width: 768px) {
      .profilecard {
        padding: 1rem; 
      }
    
      .infoimages > img:nth-of-type(2) {
        width: 100px; 
        bottom: -50px; 
      }
    
      .profileinfo {
        margin-top: 50px;
      }
    
      .bio {
        padding: 0.5rem 1rem;
      }
    }